#Readme
**.md.backup
#TeX
**.nav
**.snm
**.acr
**.aux
**.auxlock
**.bbl
**.bcf
**.blg
**.run.xml
**.bak
**.lot
**.out
**.synctex.gz
**.synctex(busy)
**.toc
**.ind
**.ilg
**.idx
**.pdf
**.xmpdata
**.xmpi
**.atfi
**.log
**.lof
**.synctex.gz(busy)
**.fls
**.fdb_latexmk
#Allow graphics path
!graphics/**
